.about {
    display:flex;
    align-items: center;
    justify-content: center;
	width: 70%; height:500px;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 20px;
	border:1px solid rgba(255, 255, 255, 0.5);
    padding:5% 3%;
}
.imgC {
    overflow: hidden;
    width:45%; height:100%;
    text-align: center;
}


.imgC img {
    width:100%; height:100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.5);
    border-right:none;
}



.textC {
    width:50%; height:100%;
    padding:2%;
    background-color: rgba(9, 17, 46, 0.7);
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content:center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.5);
    border-left:none;
}

.textC h4 {
    font-size:2.5rem;
    margin-bottom:10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.textC > p {
    font-size:1.2rem;

}

/* 자기소개 */

.intro {
    padding:5px 7px 5px 0;
    border-top:1px solid #eee;
}

.intro p {
    font-size:1.0rem;
    margin-bottom:7px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.aboutMe {
    margin-top:10px;
}


/* 반응형 1300 */
.mmAboutC {
    width:90%;
    padding:8% 3%;
}

.mAboutC .textC h4 {
    font-size:1.8rem;
    margin-bottom:10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mAboutC .textC > p {
    display:none;
}


/* 반응형 모바일 1000 */


.mmAboutC .textC {
    padding:10px;
}

.mmAboutC .textC h4 {
    font-size:1.8rem;
}


/* 반응형 900 */
.mmmAboutC {
    padding:5% 10%;
    display:flex;
    flex-direction: column;
    height:550px;
}

.mmmAboutC .imgC {
    width:100%; height:55%;
    border:1px solid rgba(255, 255, 255, 0.5);
    border-bottom:none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.mmmAboutC .imgC img {
    width:100%;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    border:none;
}

.mmmAboutC .textC {
    padding:0;
    width:100%; height:45%;
    text-align: center;
    justify-content: start;
    border:1px solid rgba(255, 255, 255, 0.5);
    border-top:none;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.mmmAboutC .textC h4 {
    padding:10px 0;
    font-size:1.75rem;
    border-bottom:1px dashed white;
}

.mmmAboutC .textC .intro {
    border:none;
    margin:0; padding:0;
}







